.root {
    main-color: rgb(100,149,237);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
    -fx-background-image: url("../images/Wallpaper.jpg"); /* Set image */
    -fx-background-size: cover;
}

.text-field {
    -fx-background-color:#89cfef;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #6495ed;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: #4f83e0;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: #98bbfa;
    -fx-font-size: 20px;
}

.scroll-pane {
    -fx-background-color: rgba(225,225,225,.5);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}



.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #89cfef;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

